* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cab1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 153, 0);
    font-size: 10px;
    background-color: rgb(255, 255, 255);
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: rgb(255, 255, 255);
    font-size: 10px;
    background-color: rgb(255, 255, 255);
}
body {
    background-color: rgb(252, 252, 252);
}

