* {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .cab1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: red;
        font-size: 70px;
        background-color: greenyellow;
    }
    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow';
        color: rgb(2, 255, 36);
        font-size: 50px;
        background-color: rgb(236, 146, 10);
    }
    body {
        background-color: rgb(240, 240, 180);
    }
    